body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Header */
.header {
  display: flex;
  background-color: lightskyblue;
  justify-content: space-between;
  padding: 0 17px;
  align-items: center;
  box-shadow: 0 1px 8px -2px black;
}

#logo {
  font-size: 30px;
  color: darkslategray;
}

#title {
  font-size: 50px;
  font-family: "Brush Script MT", cursive;
  color: orange;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}

#source-code {
  text-decoration: none;
  color: darkslategray;
}

#source-code:hover {
  color: slategray;
}
/* Header */


/* Instruction */
.instruction,
.winner {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: rgb(48, 80, 80);
  font-weight: 700;
}

.winner {
  font-size: 60px;
}
/* Instruction */


/* Selections */
.selections {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 20px;
}

.selection,
.restart-btn {
  border: 3px solid darkslategray;
  background-color: white;
  padding: 8px;
  border-radius: 150px;
  width: 100px;
  height: 100px;
}

.restart-btn {
  width: 150px;
  height: 70px;
  margin: 0 auto 32px;
  font-size: 20px;
  font-weight: 500;
}

.selection:hover,
.restart-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px lavender inset;
}
/* Selections */


/* Display */
.display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.icon {
  width: 125px;
}

.choice-display {
  width: 225px;
  height: 150px;
  border: 3px solid darkslategray;
  border-radius: 25px;
  display: flex;
  align-items: center;
  font-size: 60px;
  box-shadow: 0 0 5px 2px goldenrod;
}

.choice-display.human {
  justify-content: flex-start;
}

.choice-display.bot {
  justify-content: flex-end;
}

.choice-display.init {
  justify-content: center;
}
/* Display */


/* Score */
.score {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  gap: 50px;
}

.score .colon {
  font-size: 55px;
}
