.selections {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.selection {
  border: 1px solid purple;
  padding: 10px;
  border-radius: 5px;
}

.selection:hover {
  background-color: gray;
  color: white;
}