body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  display: flex;
  background-color: lightskyblue;
  justify-content: space-between;
  padding: 0 17px;
  align-items: center;
  box-shadow: 0 1px 8px -2px black;
}

#logo {
  font-size: 30px;
  color: darkslategray;
}

#title {
  font-size: 50px;
  font-family: "Brush Script MT", cursive;
  color: orange;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}

#source-code {
  text-decoration: none;
  color: darkslategray;
}

#source-code:hover {
  color: slategray;
}

.selections {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.selection,
.restart-btn {
  border: 1px solid indigo;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
}

.restart-btn {
  border: 1px dashed black;
  width: 150px;
}

.selection:hover,
.restart-btn:hover {
  background-color: gray;
  color: white;
}

.results,
.final-result {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  width: 400px;
}

.final-result {
  font-weight: bold;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cur-score {
  border: 1px solid black;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 30px;
}

h3 {
  margin: 0;
}
